<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moxi.core.demo.dao.wallet.TCustomerWalletLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="moxi.core.demo.model.wallet.TCustomerWalletLog">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="type" property="type" />
        <result column="product_id" property="productId" />
        <result column="order_id" property="orderId" />
        <result column="amount" property="amount" />
        <result column="before_amount" property="beforeAmount" />
        <result column="after_amount" property="afterAmount" />
        <result column="locked_change" property="lockedChange" />
        <result column="before_locked" property="beforeLocked" />
        <result column="after_locked" property="afterLocked" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, type, product_id, order_id, amount, before_amount, after_amount, locked_change, before_locked, after_locked, remark, create_time, update_time
    </sql>

    <select id="sumAmount" parameterType="moxi.core.demo.model.wallet.WalletLogVO" resultType="BigDecimal">
      select sum(amount) from t_customer_wallet_log where contract_product_id = #{contractProductId} and `type` = #{type}
    </select>
</mapper>
