<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moxi.core.demo.dao.contract.TBizContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="moxi.core.demo.model.contract.TBizContract">
        <id column="ID" property="id" />
        <result column="CONTRACT_CODE" property="contractCode" />
        <result column="BUYER_NAME" property="buyerName" />
        <result column="CONTRACT_DATE" property="contractDate" />
        <result column="CONTRACT_DESC" property="contractDesc" />
        <result column="CONTRACT_TYPE" property="contractType" />
        <result column="CONTRACT_STATE" property="contractState" />
        <result column="SERVICE_STATE" property="serviceState" />
        <result column="TOTAL_AMOUNT" property="totalAmount" />
        <result column="INVALID_REASON" property="invalidReason" />
        <result column="INVALID_DESC" property="invalidDesc" />
        <result column="REL_CONTRACT_ID" property="relContractId" />
        <result column="REL_ENTITY_ID" property="relEntityId" />
        <result column="REL_CHANCE_ID" property="relChanceId" />
        <result column="FROM_CHANNEL_ID" property="fromChannelId" />
        <result column="REL_INNER_USER_ID" property="relInnerUserId" />
        <result column="REL_REFEREE_CUSTOMER_ID" property="relRefereeCustomerId" />
        <result column="REL_REFEREE_CONTACT_ID" property="relRefereeContactId" />
        <result column="REL_FROM_ID" property="relFromId" />
        <result column="REL_CUSTOMER_ID" property="relCustomerId" />
        <result column="REL_CONTACTS_ID" property="relContactsId" />
        <result column="REL_USER_ID" property="relUserId" />
        <result column="REL_COMPANY_ID" property="relCompanyId" />
        <result column="DATA_STATE" property="dataState" />
        <result column="DATA_CREATE_AT" property="dataCreateAt" />
        <result column="DATA_CREATE_USER_ID" property="dataCreateUserId" />
        <result column="DATA_UPDATE_AT" property="dataUpdateAt" />
        <result column="DATA_UPDATE_USER_ID" property="dataUpdateUserId" />
        <result column="EXT_RESERVE" property="extReserve" />
        <result column="RY_PRI_USER_ID" property="ryPriUserId" />
        <result column="RY_PRI_USER_NICK" property="ryPriUserNick" />
        <result column="RY_PRI_DEPT_NAME" property="ryPriDeptName" />
        <result column="RY_PRI_DEPT_ID" property="ryPriDeptId" />
        <result column="DATA_TEAM_ID" property="dataTeamId" />
        <result column="DATA_DIRECT_ID" property="dataDirectId" />
        <result column="RY_CREATE_USER_NICK" property="ryCreateUserNick" />
        <result column="RY_CREATE_DEPT_NAME" property="ryCreateDeptName" />
        <result column="RY_CREATE_DEPT_ID" property="ryCreateDeptId" />
        <result column="VIEW_ID" property="viewId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CONTRACT_CODE, BUYER_NAME, CONTRACT_DATE, CONTRACT_DESC, CONTRACT_TYPE, CONTRACT_STATE, SERVICE_STATE, TOTAL_AMOUNT, INVALID_REASON, INVALID_DESC, REL_CONTRACT_ID, REL_ENTITY_ID, REL_CHANCE_ID, FROM_CHANNEL_ID, REL_INNER_USER_ID, REL_REFEREE_CUSTOMER_ID, REL_REFEREE_CONTACT_ID, REL_FROM_ID, REL_CUSTOMER_ID, REL_CONTACTS_ID, REL_USER_ID, REL_COMPANY_ID, DATA_STATE, DATA_CREATE_AT, DATA_CREATE_USER_ID, DATA_UPDATE_AT, DATA_UPDATE_USER_ID, EXT_RESERVE, RY_PRI_USER_ID, RY_PRI_USER_NICK, RY_PRI_DEPT_NAME, RY_PRI_DEPT_ID, DATA_TEAM_ID, DATA_DIRECT_ID, RY_CREATE_USER_NICK, RY_CREATE_DEPT_NAME, RY_CREATE_DEPT_ID, VIEW_ID
    </sql>

</mapper>
